<link rel="stylesheet" href="components/dw-dialog-break-glass-recovery/dw-dialog-break-glass-recovery.css">

<sl-dialog class="dw-dialog dw-dialog-break-glass-recovery" no-header>
    <header>
        <h3>
            <sl-icon name="person-bounding-box"></sl-icon>
            Break Glass Recovery Code
        </h3>
        <sl-icon-button name="x-lg" close></sl-icon-button>
    </header>
    <main>
        <div id="recovery-div">

            <h4>Copy this Break Glass Recovery Code and keep it in a safe place.</h4>
            <br>
            <dw-clipboard-input type="password" value="@sharedEnclaveKeySSI" readonly></dw-clipboard-input>

        </div>
    </main>
</sl-dialog>
