<link rel="stylesheet" href="./components/dw-dialog-booting-identity/dw-dialog-booting-identity.css">
<sl-dialog class="dw-dialog dw-dialog-booting-identity" no-header>
    <header>
        <h3>
            <sl-icon name="person-bounding-box"></sl-icon>
            Your first identity
        </h3>
        <sl-icon-button name="x-lg" close></sl-icon-button>
    </header>

    <main>
        <h4>Are you sure about the following <code>did</code>?</h4>
        <dw-clipboard-input value="@did" readonly></dw-clipboard-input>
    </main>

    <footer>
        <sl-button close>Cancel</sl-button>
        <sl-button data-tag="did-confirm" type="primary">
            <sl-icon name="check2-all" slot="prefix"></sl-icon>
            Save identity
        </sl-button>
    </footer>
</sl-dialog>