<link rel="stylesheet" href="components/dw-dialog-waiting-approval/dw-dialog-waiting-approval.css">

<sl-dialog class="dw-dialog dw-dialog-waiting-approval" no-header>
    <main>
        <div id="did-div">
            <h3>
                <sl-icon name="person-bounding-box"></sl-icon>
                Waiting for administrator to grant access
            </h3>
            <br>
            <h4>Copy this DID and give it to the right administrator.</h4>
            <dw-clipboard-input value="@did" readonly></dw-clipboard-input>
        </div>
        <div id="recovery-code-div">
            <h3>
                <sl-icon name="clipboard-check"></sl-icon>
                Or go ahead and
            </h3>
            <br>
            <h4>Paste your recovery code here to gain access.</h4>
            <sl-input name="recovery-code" placeholder="recovery code" id="add-member-input" type="password" required clearable>
                <sl-button slot="suffix" type="text" data-tag="paste-from-clipboard" class="dw-paste">
                    Paste
                </sl-button>
                <sl-icon slot="suffix" name="arrow-right-short" data-tag="continue"></sl-icon>
            </sl-input>
        </div>
    </main>
</sl-dialog>
