<webc-container controller='governance/voting/NewVotingSessionController' data-view-model='@'>
  <section class='dw-credentials--header'>
    <dw-title>
      <p slot='subheader'>New Voting Session Form</p>
      <p slot='subheader'>There are different forms according to the selected voting session type.</p>
    </dw-title>
  </section>

  <section id='voting-type-selector'>
    <label>Please select the type of voting </label>
    <sl-button-group>
      <sl-button data-tag='vote.type.opinion' type='primary'>Consultation / Opinion Poll</sl-button>
      <sl-button data-tag='vote.type.generic' type='primary'>Generic Proposal</sl-button>
      <sl-button data-tag='vote.type.fixed' type='primary'>Fixed Structure Proposal</sl-button>
    </sl-button-group>
    <label>Voting type selected:&nbsp;<strong>{{@votingType}}</strong></label>
  </section>

  <section class='dw-credentials dw-data-grid'>
    <div class='dw-form-row'>
      <sl-textarea id='question-vote-name' label='Question / Vote Name'
                   placeholder='Your question or a title of a vote here...' resize='auto'>
      </sl-textarea>
    </div>

    <div class='dw-form-row dw-col-2-equal'>
      <sl-input clearable id='deadline' label='Deadline' placeholder='Date' type='date'></sl-input>
      <div class='dw-form-row-inner'>
        <label>Check if the answer type should be unique (checkboxes or radio buttons)</label>
        <sl-checkbox id='response-type'>Unique answer type</sl-checkbox>
      </div>
    </div>

    <div data-if='@isFixedStructure'>
      <div class='dw-form-row dw-col-3-equal'>
        <div class='dw-form-row-inner'>
          <label>Select Voting Action</label>
          <sl-dropdown id='voting-action'>
            <sl-button caret slot='trigger'>{{@form.votingActions.placeholder}}</sl-button>
            <sl-menu data-for='@form.votingActions.options'>
              <sl-menu-item value='@value'>{{@label}}</sl-menu-item>
            </sl-menu>
          </sl-dropdown>
        </div>
        <sl-input clearable id='partner-did' label='Partner DID' placeholder='Partner DID here...'></sl-input>
        <div class='dw-form-row-inner'>
          <label>Upload candidate documentation</label>
          <div class='file-input-wrapper'>
            <label for='upload-documentation'>Candidate documentation</label>
            <input id='upload-documentation' name='documentation' type='file' />
          </div>
        </div>
      </div>
    </div>

    <div class='dw-form-row'>
      <label>Possible answers</label>
      <div data-if='@hasDefaultAnswers'>
        <div class='answers-wrapper' data-for='@defaultAnswers'>
          <sl-input readonly value='@label'></sl-input>
        </div>
      </div>
      <div class='answers-wrapper' data-for='@form.possibleAnswers' id='possible-responses'>
        <sl-input clearable placeholder='Possible answer here...' value='@label'>
          <sl-button class='dw-paste' data-tag='input.paste' slot='suffix' type='text'>
            Paste
          </sl-button>
        </sl-input>

        <div class='no-data' data-if='@hasDefaultAnswers' slot='no-data'>
          <label slot='false'>No possible answers defined yet!</label>
        </div>
      </div>
      <div class='dw-form-row dw-form-buttons-right'>
        <sl-button data-tag='vote.answer.add' type='primary'>Add Answer</sl-button>
      </div>
    </div>
  </section>

  <div class='dw-form-row dw-form-buttons-right'>
    <sl-button data-tag='history.go.back'>Go back</sl-button>
    <sl-button data-tag='vote.new.submit' type='primary'>Submit Voting Session</sl-button>
  </div>

</webc-container>