<webc-container controller='governance/voting/PerformVoteController' data-view-model='@'>
  <section class='dw-credentials--header'>
    <dw-title>
      <p slot='subheader'>Perform Vote</p>
      <p slot='subheader'>The voting results will be available after at the end of the voting period.</p>
    </dw-title>
  </section>

  <section class='dw-credentials dw-data-grid'>
    <div class='dw-form-row'>
      <sl-textarea id='question-vote-name' label='Question / Vote Name' readonly
                   placeholder='Your question or a title of a vote here...' resize='auto'
                   value='@selectedVotingSession.question'>
      </sl-textarea>
    </div>

    <div class='dw-form-row'>
      <sl-input label='Vote will be concluded on:' readonly value='@selectedVotingSession.deadline'></sl-input>
    </div>

    <div data-if='@selectedVotingSession.isFixedStructure'>
      <div class='dw-form-row dw-col-3-equal'>
        <sl-input label='Voting action to be performed:' readonly
                  value='@selectedVotingSession.selectedVotingAction.label'></sl-input>
        <sl-input label='Partner DID' readonly value='@selectedVotingSession.partnerDID'></sl-input>
        <div class='dw-form-row-inner' data-if='@selectedVotingSession.hasDocumentation'>
          <label>Candidate documentation</label>
          <sl-button data-tag='vote.document.download' type='primary'>Download candidate
            documentation
          </sl-button>
        </div>
      </div>
    </div>

    <div class='dw-form-row'>
      <div class='answers-container' data-if='@selectedVotingSession.isUniqueAnswer'>
        <sl-radio-group data-for='@selectedVotingSession.possibleAnswers' fieldset label='Select one option'
                        slot='true'>
          <sl-radio value='@uid'>{{@label}}</sl-radio>
        </sl-radio-group>

        <div class='dw-form-row-inner' slot='false'>
          <label>Select one or more options</label>
          <div class='answers-wrapper' data-for='@selectedVotingSession.possibleAnswers'>
            <sl-checkbox id='@uid'>{{@label}}</sl-checkbox>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class='dw-form-row dw-form-buttons-right'>
    <sl-button data-tag='history.go.back' type='primary'>Go back</sl-button>
    <sl-button data-tag='vote.add.submit' type='success'>Submit your vote</sl-button>
  </div>
</webc-container>