<webc-container controller='governance/voting/VotingController' data-view-model='@'>
  <section class='dw-credentials--header'>
    <dw-title>
      <p slot='subheader'>Manage Voting Sessions</p>
      <p slot='subheader'>This is an overview of the Voting Sessions you may take part.</p>
    </dw-title>

    <div>
      <sl-button data-tag='toggle.voting.dashboard' type='primary'>
        Voting Dashboard
      </sl-button>
      <sl-button data-tag='toggle.voting.new' type='success'>
        New Voting Session
        <sl-icon name='plus' slot='prefix'></sl-icon>
      </sl-button>
    </div>
  </section>

  <div class='dw-credentials dw-data-grid' data-if='@isNewVotingOpened'>
    <webc-template data-view-model='@' slot='true' template='governance/voting/new-voting-session'></webc-template>

    <div data-if='@isAddVoteOpened' slot='false'>
      <webc-template data-view-model='@' slot='true' template='governance/voting/perform-vote'></webc-template>

      <div data-if='@isVoteResultsOpened' slot='false'>
        <webc-template data-view-model='@' slot='true' template='governance/voting/view-results'></webc-template>

        <div data-if='@areVotingSessionsLoaded' slot='false'>
          <dw-spinner content='Voting Sessions are loading' slot='false'></dw-spinner>

          <div class='dw-data-table' data-if='@hasVotingSessions' slot='true'>
            <div class='no-data' slot='false'>
              <p class='no-data'>There are no Voting Sessions available!</p>
            </div>

            <article class='dw-data-grid-header dw-col-6' slot='true'>
              <div><label>Question / Vote Name</label></div>
              <div><label>Type</label></div>
              <div><label>Due date</label></div>
              <div><label>Status</label></div>
              <div><label>Overall Status</label></div>
              <div><label>Options</label></div>
            </article>

            <article class='dw-data-grid-item dw-col-6' data-for='@votingSessions' slot='true'>
              <div><label title='@title'>{{@question}}</label></div>
              <div><label>{{@votingType}}</label></div>
              <div><label>{{@deadline}}</label></div>
              <div><label data-status='@canVote'>{{@status}}</label></div>
              <div><label data-status='@concluded'>{{@overallStatus}}</label></div>
              <div>
                <div data-if='@option'>
                  <sl-button data-tag='@option.eventTag' outline type='@option.buttonType'>
                    {{@option.optionLabel}}
                    <sl-icon name='@option.icon' slot='prefix'></sl-icon>
                  </sl-button>
                </div>
                <sl-button data-tag='toggle.voting.results' outline type='primary'>
                  View Results
                  <sl-icon name='eye' slot='prefix'></sl-icon>
                </sl-button>
              </div>
            </article>
          </div>
        </div>
      </div>
      </section>
    </div>
  </div>
</webc-container>