<webc-container controller='governance/deployment/DashboardOrganizationController' data-view-model='@'>
  <div data-if='@areOrganizationsLoaded'>
    <dw-spinner content='Organizations are loading' slot='false'></dw-spinner>

    <div class='dw-data-table' data-if='@hasOrganizations' slot='true'>
      <div class='no-data' slot='false'>
        <p class='no-data'>There are no defined organizations!</p>
      </div>

      <article class='dw-data-grid-header dw-col-5-equal' slot='true'>
        <div><label>Organization name</label></div>
        <div><label>Created at</label></div>
        <div><label>Clusters no.</label></div>
        <div><label>Blockchain domains</label></div>
        <div><label>Options</label></div>
      </article>

      <article class='dw-data-grid-item dw-col-5-equal' data-for='@organizations' slot='true'>
        <div><label>{{@name}}</label></div>
        <div><label>{{@createdAt}}</label></div>
        <div><label>{{@clustersCount}}</label></div>
        <div>
          <sl-button data-tag='toggle.organization.manage' type='primary'>
            Manage
            <sl-icon name='hammer' slot='prefix'></sl-icon>
          </sl-button>
        </div>
        <div class='dw-table-options'>
          <sl-button data-tag='toggle.organization.view' type='primary'>
            View
            <sl-icon name='eye' slot='prefix'></sl-icon>
          </sl-button>
          <sl-button data-edit='edit' data-tag='toggle.organization.add-edit'>
            Edit
            <sl-icon name='pencil' slot='prefix'></sl-icon>
          </sl-button>
        </div>
      </article>
    </div>
  </div>
</webc-container>