<webc-container controller='governance/deployment/DeploymentController'>
  <section class='dw-credentials--header'>
    <dw-title>
      <p slot='subheader'>Title</p>
      <p slot='subheader'>Description</p>
    </dw-title>

    <div class="dw-tab-navigator">
      Tabs for deployment
      <sl-button class='dw-action-button' data-tag='toggle.tabName.actionName' type='primary'>
        Tab name
        <sl-icon name='hammer' slot='prefix'></sl-icon>
      </sl-button>
    </div>
  </section>

  Content here!
</webc-container>