<link rel="stylesheet" href="components/dw-dialog-view-credential/dw-dialog-view-credential.css">
<sl-dialog class="dw-dialog dw-dialog-view-credential" no-header>
  <header>
    <h3>
      <sl-icon name="key-fill"></sl-icon> Inspect credential
    </h3>
    <sl-icon-button name="x-lg" close></sl-icon-button>
  </header>

  <main>
    <dw-clipboard-input label="Token" value="@token" readonly></dw-clipboard-input>
    <sl-textarea rows="15" label="JSON" value="@json" readonly></sl-textarea>
  </main>
</sl-dialog>