/*
   * Outline buttons
   */
sl-button[outline]::part(base) {
    background: none;
    border: solid 1px;
    font-weight: 500;
}

/* Default */
sl-button[outline][type='default']::part(base) {
    border-color: rgb(var(--sl-color-neutral-300));
    color: rgb(var(--sl-color-neutral-700));
}

sl-button[outline][type='default']:hover:not([disabled])::part(base),
sl-button[outline][type='default'][checked]:not([disabled])::part(base) {
    border-color: rgb(var(--sl-color-primary-600));
    background-color: rgb(var(--sl-color-primary-600));
    color: rgb(var(--sl-color-neutral-1000));
}

sl-button[outline][type='default']:active:not([disabled])::part(base) {
    border-color: rgb(var(--sl-color-primary-700));
    background-color: rgb(var(--sl-color-primary-700));
    color: rgb(var(--sl-color-neutral-1000));
}

/* Primary */
sl-button[outline][type='primary']::part(base) {
    border-color: rgb(var(--sl-color-primary-600));
    color: rgb(var(--sl-color-primary-600));
}

sl-button[outline][type='primary']:hover:not([disabled])::part(base),
sl-button[outline][type='primary'][checked]:not([disabled])::part(base) {
    background-color: rgb(var(--sl-color-primary-600));
    color: rgb(var(--sl-color-neutral-1000));
}

sl-button[outline][type='primary']:active:not([disabled])::part(base) {
    border-color: rgb(var(--sl-color-primary-700));
    background-color: rgb(var(--sl-color-primary-700));
    color: rgb(var(--sl-color-neutral-1000));
}

/* Success */
sl-button[outline][type='success']::part(base) {
    border-color: rgb(var(--sl-color-success-600));
    color: rgb(var(--sl-color-success-600));
}

sl-button[outline][type='success']:hover:not([disabled])::part(base),
sl-button[outline][type='success'][checked]:not([disabled])::part(base) {
    background-color: rgb(var(--sl-color-success-600));
    color: rgb(var(--sl-color-neutral-1000));
}

sl-button[outline][type='success']:active:not([disabled])::part(base) {
    border-color: rgb(var(--sl-color-success-700));
    background-color: rgb(var(--sl-color-success-700));
    color: rgb(var(--sl-color-neutral-1000));
}

/* Neutral */
sl-button[outline][type='neutral']::part(base) {
    border-color: rgb(var(--sl-color-neutral-600));
    color: rgb(var(--sl-color-neutral-600));
}

sl-button[outline][type='neutral']:hover:not([disabled])::part(base),
sl-button[outline][type='neutral'][checked]:not([disabled])::part(base) {
    background-color: rgb(var(--sl-color-neutral-600));
    color: rgb(var(--sl-color-neutral-1000));
}

sl-button[outline][type='neutral']:active:not([disabled])::part(base) {
    border-color: rgb(var(--sl-color-neutral-700));
    background-color: rgb(var(--sl-color-neutral-700));
    color: rgb(var(--sl-color-neutral-1000));
}

/* Warning */
sl-button[outline][type='warning']::part(base) {
    border-color: rgb(var(--sl-color-warning-600));
    color: rgb(var(--sl-color-warning-600));
}

sl-button[outline][type='warning']:hover:not([disabled])::part(base),
sl-button[outline][type='warning'][checked]:not([disabled])::part(base) {
    background-color: rgb(var(--sl-color-warning-600));
    color: rgb(var(--sl-color-neutral-1000));
}

sl-button[outline][type='warning']:active:not([disabled])::part(base) {
    border-color: rgb(var(--sl-color-warning-700));
    background-color: rgb(var(--sl-color-warning-700));
    color: rgb(var(--sl-color-neutral-1000));
}

/* Danger */
sl-button[outline][type='danger']::part(base) {
    border-color: rgb(var(--sl-color-danger-600));
    color: rgb(var(--sl-color-danger-600));
}

sl-button[outline][type='danger']:hover:not([disabled])::part(base),
sl-button[outline][type='danger'][checked]:not([disabled])::part(base) {
    background-color: rgb(var(--sl-color-danger-600));
    color: rgb(var(--sl-color-neutral-1000));
}

sl-button[outline][type='danger']:active:not([disabled])::part(base) {
    border-color: rgb(var(--sl-color-danger-700));
    background-color: rgb(var(--sl-color-danger-700));
    color: rgb(var(--sl-color-neutral-1000));
}