.dw-credentials article > sl-menu-item::part(base) {
  padding-right: 0;
}

.dw-credentials article > sl-menu-item > * > sl-icon::part(base),
.dw-credentials article > sl-menu-item:hover > sl-icon-button::part(base) {
  color: inherit;
  transition: var(--sl-transition-medium) color;
  background: transparent;
}

.dw-credentials article > sl-menu-item > sl-icon-button {
  font-size: 1.2rem;
}

.dw-credentials article > sl-menu-item sl-icon {
  margin: 0 var(--sl-spacing-x-large) 0 var(--sl-spacing-xx-large);
}

.dw-credentials .dw-group-credential-data sl-input {
  pointer-events: none;
}

.dw-credentials .dw-group-credential-data sl-input::part(input) {
  font-family: 'courier new', monospace;
  font-size: 90%;
}

@media screen and (max-width: 815px) {
  .dw-credentials article > sl-menu-item::part(base) {
    padding-left: var(--sl-spacing-small);
  }

  .dw-credentials article > sl-menu-item sl-icon {
    margin-left: var(--sl-spacing-large);
    margin-right: var(--sl-spacing-large);
  }

  .dw-data-grid .dw-data-grid-item sl-icon-button::part(base) {
    padding-left: var(--sl-spacing-large);
    padding-right: var(--sl-spacing-large);
  }
}

@media screen and (max-width: 445px) {
  .dw-credentials article > sl-menu-item sl-icon {
    margin-left: var(--sl-spacing-medium);
    margin-right: var(--sl-spacing-medium);
  }

  .dw-data-grid .dw-data-grid-item sl-icon-button::part(base) {
    padding-left: var(--sl-spacing-medium);
    padding-right: var(--sl-spacing-medium);
  }
}
