.dw-data-grid .dw-data-grid-header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    text-align: left;
    background-color: var(--background);
    font-weight: bold;
    padding: 0.5rem 0;
}

.dw-data-grid .dw-data-grid-item {
    display: grid;
    grid-template-columns: 1fr auto auto;
    text-align: left;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--background);
}

.dw-data-grid .dw-data-grid-item.dw-data-grid-multi {
    grid-template-columns: 1fr 3fr auto auto;
}

.dw-data-grid .dw-data-grid-item:last-child {
    border-bottom: none;
}

.dw-data-grid .dw-data-grid-item sl-menu-item::part(base) {
    padding-top: var(--sl-spacing-small);
    padding-bottom: var(--sl-spacing-small);
}

.dw-data-grid .dw-data-grid-item sl-icon-button {
    height: 100%;
    display: flex;
}

.dw-data-grid .dw-data-grid-item sl-icon-button::part(base) {
    padding: 0 var(--sl-spacing-x-large);
}

.dw-data-grid .dw-data-grid-item sl-menu-item[checked]::part(base) {
    color: var(--webc-primary-color);
}

.dw-data-grid .dw-data-grid-item sl-menu-item[checked]::part(base),
.dw-data-grid .dw-data-grid-item sl-menu-item[checked] + sl-icon-button::part(base) {
    background-color: var(--check-background);
    border-radius: 0;
}

.dw-data-grid .dw-data-grid-item sl-menu-item[checked] + sl-icon-button {
    pointer-events: none;
}

.dw-data-grid .dw-data-grid-item sl-menu-item[checked] + sl-icon-button::part(base) {
    background: transparent;
    color: transparent;
    cursor: not-allowed;
}

.dw-data-grid .dw-data-grid-item sl-icon-button:hover::part(base) {
    border-radius: 0;
    color: var(--delete-color);
    background: var(--delete-background);
}

.dw-col-2,
.dw-col-3,
.dw-col-4,
.dw-col-5,
.dw-col-6,
.dw-col-2-equal,
.dw-col-3-equal,
.dw-col-4-equal,
.dw-col-5-equal,
.dw-col-6-equal,
.dw-col-2-left {
    display: grid;
}

.dw-data-grid .dw-col-2 {
    grid-template-columns: 1fr auto;
}

.dw-data-grid .dw-col-2-left {
    grid-template-columns: auto 1fr;
}

.dw-data-grid .dw-col-3-auto {
    grid-template-columns: 1fr 1fr auto;
}

.dw-data-grid .dw-col-3 {
    grid-template-columns: 60% 15% auto;
}

.dw-data-grid .dw-col-4 {
    grid-template-columns: repeat(3, 1fr) auto;
}

.dw-data-grid .dw-col-5 {
    grid-template-columns: repeat(4, 1fr) auto;
}

.dw-data-grid .dw-col-6 {
    grid-template-columns: 45% repeat(5, 1fr);
}

/* EQUAL GRIDS */
.dw-data-grid .dw-col-2-equal {
    grid-template-columns: repeat(2, 1fr);
}

.dw-data-grid .dw-col-3-equal {
    grid-template-columns: repeat(3, 1fr);
}

.dw-data-grid .dw-col-4-equal {
    grid-template-columns: repeat(4, 1fr);
}

.dw-data-grid .dw-col-5-equal {
    grid-template-columns: repeat(5, 1fr);
}

.dw-data-grid .dw-col-6-equal {
    grid-template-columns: repeat(6, 1fr);
}

.dw-table-options > * {
    margin-right: 0.5rem;
    padding-right: 0.5rem;
}

.dw-table-options > *:last-child {
    margin: 0;
    padding: 0;
}

.dw-data-grid-header.dw-col-3 > *,
.dw-data-grid-item.dw-col-3 > *,
.dw-data-grid-header.dw-col-3-equal > *,
.dw-data-grid-item.dw-col-3-equal > *,
.dw-data-grid-header.dw-col-5 > *,
.dw-data-grid-item.dw-col-5 > *,
.dw-data-grid-header.dw-col-5-equal > *,
.dw-data-grid-item.dw-col-5-equal > *,
.dw-data-grid-header.dw-col-6 > *,
.dw-data-grid-item.dw-col-6 > *,
.dw-data-grid-header.dw-col-6-equal > *,
.dw-data-grid-item.dw-col-6-equal > * {
    background: rgba(246,246,246,255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0;
}

.dw-data-grid-header.dw-col-3 > *,
.dw-data-grid-header.dw-col-3-equal > *,
.dw-data-grid-header.dw-col-5 > *,
.dw-data-grid-header.dw-col-5-equal > *,
.dw-data-grid-header.dw-col-6 > *,
.dw-data-grid-header.dw-col-6-equal > * {
    color: rgba(60,60,60,0.75);
    text-transform: uppercase;
    background-color: rgba(246,246,246,1);
}

.dw-data-grid-item.dw-col-3 > :nth-child(6n+1),
.dw-data-grid-item.dw-col-3 > :nth-child(6n+2),
.dw-data-grid-item.dw-col-3 > :nth-child(6n+3),
.dw-data-grid-item.dw-col-3-equal > :nth-child(6n+1),
.dw-data-grid-item.dw-col-3-equal > :nth-child(6n+2),
.dw-data-grid-item.dw-col-3-equal > :nth-child(6n+3),
.dw-data-grid-item.dw-col-5 > :nth-child(10n+1),
.dw-data-grid-item.dw-col-5 > :nth-child(10n+2),
.dw-data-grid-item.dw-col-5 > :nth-child(10n+3),
.dw-data-grid-item.dw-col-5 > :nth-child(10n+4),
.dw-data-grid-item.dw-col-5 > :nth-child(10n+5),
.dw-data-grid-item.dw-col-5-equal > :nth-child(10n+1),
.dw-data-grid-item.dw-col-5-equal > :nth-child(10n+2),
.dw-data-grid-item.dw-col-5-equal > :nth-child(10n+3),
.dw-data-grid-item.dw-col-5-equal > :nth-child(10n+4),
.dw-data-grid-item.dw-col-5-equal > :nth-child(10n+5),
.dw-data-grid-item.dw-col-6 > :nth-child(12n+1),
.dw-data-grid-item.dw-col-6 > :nth-child(12n+2),
.dw-data-grid-item.dw-col-6 > :nth-child(12n+3),
.dw-data-grid-item.dw-col-6 > :nth-child(12n+4),
.dw-data-grid-item.dw-col-6 > :nth-child(12n+5),
.dw-data-grid-item.dw-col-6 > :nth-child(12n+6),
.dw-data-grid-item.dw-col-6-equal > :nth-child(12n+1),
.dw-data-grid-item.dw-col-6-equal > :nth-child(12n+2),
.dw-data-grid-item.dw-col-6-equal > :nth-child(12n+3),
.dw-data-grid-item.dw-col-6-equal > :nth-child(12n+4),
.dw-data-grid-item.dw-col-6-equal > :nth-child(12n+5),
.dw-data-grid-item.dw-col-6-equal > :nth-child(12n+6) {
    background: #ffffff;
}