#voting-type-selector {
    display: grid;
    column-gap: 2rem;
    padding-top: 2rem;
    width: 100%;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
}

#voting-type-selector > * {
    justify-content: center;
    align-items: center;
    display: flex;
}

#voting-type-selector > :first-child {
    justify-content: flex-start;
}

#voting-type-selector > :last-child {
    justify-content: end;
}

.answers-container .answers-wrapper {
    border: 1px solid rgb(39, 39, 42, 0.25);
    border-radius: 0.5rem;
}

.answers-wrapper,
.answers-container sl-radio-group::part(base) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 1rem;
    padding: 1.25rem;
}

label.download,
.file-input-wrapper label {
    cursor: pointer;
    padding: 0.5rem 1rem;
    background: rgba(0, 135, 152, 1);
    border: none;
    border-radius: 0.5rem;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.file-input-wrapper input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.progress-wrapper,
.progress-bar[data-width='0%'] {
    border-radius: 1rem;
    color: #000;
    background-color: #eee !important;
    width: 100%;
}

.progress-bar[data-width='0%'] {
    margin-left: 0.5rem;
}

.progress-bar {
    border-radius: 1rem;
    color: #fff;
    text-align: center;
    line-height: 1.25rem;
}

.progress-wrapper:before,
.progress-wrapper:after,
.progress-bar:after,
.progress-bar:before {
    content: '';
    display: table;
    clear: both;
}

.rating-container {
    display: grid;
    grid-template-columns: 1fr 2fr !important;
    column-gap: 0.5rem;
    row-gap: 1rem;
    padding: 1rem;
}

.rating-container .progress-wrapper:nth-child(2n) .progress-bar {
    background-color: rgb(var(--sl-color-primary-400));
}

.rating-container .progress-wrapper:nth-child(2n+1) .progress-bar {
    background-color: rgb(var(--sl-color-primary-green));
}