#voting-type-selector {
    display: grid;
    column-gap: 2rem;
    padding-top: 2rem;
    width: 100%;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
}

#voting-type-selector > * {
    justify-content: center;
    align-items: center;
    display: flex;
}

#voting-type-selector > :first-child {
    justify-content: flex-start;
}

#voting-type-selector > :last-child {
    justify-content: end;
}

.answers-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 1rem;
    padding: 0.5rem 0;
}

label.download,
.file-input-wrapper label {
    cursor: pointer;
    padding: 0.5rem 1rem;
    background: rgba(0, 135, 152, 1);
    border: none;
    border-radius: 0.5rem;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.file-input-wrapper input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
