.link {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: var(--dw-custom-primary-color-100);
}

.link:focus,
.link:hover,
.link:active {
    cursor: pointer;
    text-decoration: underline;
}

.dw-data-table label {
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

label[data-status] {
    font-weight: bold;
    background-color: var(--dw-custom-default-color-015) !important;
    border: 1px solid #f0f0f0;
    border-radius: 0.5rem;
}

label[data-status="red"] {
    color: var(--dw-custom-danger-color-100);
    background-color: var(--dw-custom-danger-color-015) !important;
}

label[data-status="blue"] {
    color: var(--dw-custom-primary-color-100);
    background-color: var(--dw-custom-primary-color-015) !important;
}

label[data-status="green"] {
    color: var(--dw-custom-success-color-100);
    background-color: var(--dw-custom-success-color-015) !important;
}

label[data-status="orange"] {
    color: var(--dw-custom-warning-color-100);
    background-color: var(--dw-custom-warning-color-015) !important;
}