@import "./components.css";
@import "./parts/buttons.css";
@import "./parts/labels.css";
@import "./parts/tables.css";
@import "./parts/forms.css";
@import url("./fonts/fontawesome/font-awesome.min.css");

/* dm-sans-regular - latin-ext_latin */
@font-face {
    font-family: 'DM Sans regular';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../assets/fonts/DM_Sans/dm-sans-v11-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/DM_Sans/dm-sans-v11-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* dm-sans-500 - latin-ext_latin */
@font-face {
    font-family: 'DM Sans medium';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../assets/fonts/DM_Sans/dm-sans-v11-latin-ext_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/DM_Sans/dm-sans-v11-latin-ext_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* dm-sans-700 - latin-ext_latin */
@font-face {
    font-family: 'DM Sans bold';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../assets/fonts/DM_Sans/dm-sans-v11-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/DM_Sans/dm-sans-v11-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --webc-primary-color: rgb(var(--sl-color-neutral-0));
    --webc-font-family: var(--sl-font-sans);
    --dw-menu-width: 250px;
    --dw-container-width: 1000px;

    --sl-z-index-dialog: 1000 !important;
    --sl-z-index-toast: 1001 !important;

    --dw-app-color: #328569;
    --dw-active-item-color: #FFFFFF;
    --dw-inactive-item-color: #92D3BD;
    --dw-custom-default-color-100: rgba(1, 1, 1, 1);
    --dw-custom-default-color-015: rgba(1, 1, 1, 0.15);
    --dw-custom-primary-color-100: rgba(47, 128, 237, 1);
    --dw-custom-primary-color-015: rgba(47, 128, 237, 0.15);
    --dw-custom-success-color-100: rgba(39, 174, 96, 1);
    --dw-custom-success-color-015: rgba(39, 174, 96, 0.15);
    --dw-custom-danger-color-100: rgba(210, 13, 13, 1);
    --dw-custom-danger-color-015: rgba(210, 13, 13, 0.15);
    --dw-custom-warning-color-100: rgba(198, 155, 24, 1);
    --dw-custom-warning-color-015: rgba(198, 155, 24, 0.15);
}

sl-alert::part(base) {
    color: rgb(var(--sl-color-neutral-700));
}

sl-tab-group {
    --indicator-color: var(--dw-custom-success-color-100);
}

sl-tab-group sl-tab[active]:not([disabled])::part(base),
sl-tab-group sl-tab:hover::part(base),
sl-tab-group sl-tab:active::part(base) {
    color: var(--dw-custom-success-color-100);
}

[disable-menu] webc-app-menu > .content,
[disable-menu] webc-app-menu > .after {
    display: none;
}

webc-app-root {
    --mode: vertical;
}

webc-app-menu {
    --disable-identity: true;
}

webc-app-menu[mode='vertical'] {
    --background: var(--dw-app-color);
    --padding: 45px 0px;
    --min-width: 155px;
}

webc-app-container {
    --background: rgb(var(--sl-color-gray-50));
}

webc-app-container > .container.before {
    z-index: 999;
    background: var(--background);
}

dw-header {
    --items-color: rgb(var(--sl-color-gray-800));
    --border-color: rgb(var(--sl-color-gray-300));
    --active-color: rgb(var(--sl-color-neutral-0));
    --title-color: var(--active-color);
}

dw-menu {
    --border-color: rgb(var(--sl-color-gray-200));
    --items-color: rgb(var(--sl-color-neutral-0));
    --drawer-background: rgb(var(--sl-color-gray-50));
}

dw-title {
    --color: rgb(var(--sl-color-neutral-0));
    font-size: calc(100% + 0.4vh);
    font-family: 'DM Sans regular';
    line-height: 1;
}

dw-clipboard-input {
    --icon-color: #ffffff;
    --icon-background: rgb(var(--sl-color-primary-green));
}

dw-dialog-booting-identity {
    --footer-border: 1px solid rgb(var(--sl-color-gray-300));
    --footer-background: rgb(var(--sl-color-gray-50));
}

dw-dialog-configuration {
    --jsoneditor-background: rgb(var(--sl-color-primary-600));
    --jsoneditor-dropdown-color: rgb(var(--sl-color-neutral-0));
    --jsoneditor-dropdown-background: rgb(var(--sl-color-primary-green));
}

dw-subdomains {
    --border: 1px solid rgb(var(--sl-panel-border-color));
    --background: rgb(var(--sl-input-background-color));
}

.dw-data-grid {
    --border-color: rgb(var(--sl-color-gray-200));
    --border: 1px solid var(--border-color);
    --background: rgb(var(--sl-input-background-color));
    --check-background: rgb(var(--sl-color-gray-300));
    --delete-color: rgb(var(--sl-color-neutral-1000));
    --delete-background: rgb(var(--sl-color-primary-50));
}

.container.app-container {
    background: url("../assets/images/background-shape.svg") no-repeat center;
    background-size: cover;

}

.dw-action-button::part(base) {
    background: rgb(var(--sl-color-primary-green));
    color: #ffffff;
    border: none;
}

.dw-action-button::part(base):hover {
    background: rgb(var(--sl-color-primary-50));
    color: #ffffff;
    border: none;
}

.dw-paste::part(base) {
    color: rgb(var(--sl-color-primary-green));
}

.d-flex {
    display: flex !important;
}

.flex-end {
    justify-content: flex-end !important;
    align-items: flex-end !important;
}

*[disabled_feature] {
    display: none !important;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 155px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 103%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.dw-select {
    border-radius: var(--sl-input-border-radius-medium);
    font-size: var(--sl-input-font-size-medium);
    height: var(--sl-input-height-medium);
    justify-content: start;
    font-family: var(--sl-input-font-family);
    font-weight: var(--sl-input-font-weight);
    letter-spacing: var(--sl-input-letter-spacing);
    background-color: rgb(var(--sl-input-background-color));
    border: solid var(--sl-input-border-width) rgb(var(--sl-input-border-color));
    vertical-align: middle;
    overflow: hidden;
    background-image: linear-gradient(45deg, transparent 50%, var(--dw-custom-success-color-100) 50%),
    linear-gradient(135deg, var(--dw-custom-success-color-100) 50%, transparent 50%),
    linear-gradient(to right, var(--dw-custom-success-color-100), var(--dw-custom-success-color-100));
    background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px,
    5px 5px,
    1px 1.5em;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.dw-select:focus {
    background-color: rgb(var(--sl-input-background-color-focus));
    border-color: rgb(var(--sl-input-border-color-focus));
    box-shadow: var(--sl-focus-ring-alpha);
    background-image: linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, var(--dw-custom-success-color-100), var(--dw-custom-success-color-100));
    background-position: calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px,
    5px 5px,
    1px 1.5em;
    background-repeat: no-repeat;
    outline: 0;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

webc-app-menu[mode=vertical] .app-menu {
    display: flex;
    flex-direction: column;
    gap: 65px;
    align-items: center;
}

.menu-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dw-inactive-item-color)
}

.link-active .menu-item-container {
    color: var(--dw-active-item-color)
}

.menu-item-container svg {
    fill: var(--dw-inactive-item-color)
}

.link-active .menu-item-container svg {
    fill: var(--dw-active-item-color)
}

webc-app-menu[mode=vertical] .app-menu webc-app-menu-item[level="0"],
webc-app-menu[mode=vertical] .app-menu webc-app-menu-item,
webc-app-menu[mode=vertical] .app-menu webc-app-menu-item[level="0"]:last-child {
    border: none;
}

/*:root .sl-theme-dark {*/
/*    --webc-primary-color: rgb(var(--sl-color-gray-50));*/
/*    --sl-input-label-color: rgb(var(--sl-color-gray-50));*/
/*}*/

/*.sl-theme-dark webc-app-menu[mode=horizontal] {*/
/*    --color: rgb(var(--sl-color-gray-300));*/
/*}*/

/*.sl-theme-dark dw-spinner {*/
/*    --color: rgb(var(--sl-color-gray-100));*/
/*}*/

/*.sl-theme-dark dw-title {*/
/*    --color: rgb(var(--sl-color-gray-300));*/
/*}*/

/*.sl-theme-dark dw-header {*/
/*    --border-color: rgb(var(--sl-color-gray-800));*/
/*    --color: rgb(var(--sl-color-gray-300));*/
/*}*/

/*.sl-theme-dark .dw-data-grid {*/
/*    --background: rgb(var(--sl-input-background-color));*/
/*    --border-color: rgb(var(--sl-input-border-color));*/
/*}*/

/*::selection {*/
/*    background: rgb(var(--sl-color-primary-600));*/
/*}*/

/*::-moz-selection {*/
/*    background: rgb(var(--sl-color-primary-600));*/
/*}*/
