@import "./components.css";
@import "./labels.css";
@import "./tables.css";
@import "./forms.css";

/* dm-sans-regular - latin-ext_latin */
@font-face {
    font-family: 'DM Sans regular';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../assets/fonts/DM_Sans/dm-sans-v11-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/DM_Sans/dm-sans-v11-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* dm-sans-500 - latin-ext_latin */
@font-face {
    font-family: 'DM Sans medium';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../assets/fonts/DM_Sans/dm-sans-v11-latin-ext_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/DM_Sans/dm-sans-v11-latin-ext_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* dm-sans-700 - latin-ext_latin */
@font-face {
    font-family: 'DM Sans bold';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../assets/fonts/DM_Sans/dm-sans-v11-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/DM_Sans/dm-sans-v11-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --webc-primary-color: rgb(var(--sl-color-gray-900));
    --webc-font-family: var(--sl-font-sans);
    --dw-menu-width: 250px;
    --dw-container-width: 1000px;

    --sl-z-index-dialog: 1000 !important;
    --sl-z-index-toast: 1001 !important;
}

[disable-menu] webc-app-menu > .content,
[disable-menu] webc-app-menu > .after {
    display: none;
}

webc-app-root {
    --mode: horizontal;
}

webc-app-menu {
    --disable-identity: true;
}

webc-app-container {
    --background: rgb(var(--sl-color-gray-50));
}

webc-app-container > .container.before {
    z-index: 999;
    background: var(--background);
}

dw-header {
    --items-color: rgb(var(--sl-color-gray-800));
    --border-color: rgb(var(--sl-color-gray-300));
    --active-color: rgb(var(--sl-color-primary-600));
    --title-color: var(--active-color);
}

dw-menu {
    --border-color: rgb(var(--sl-color-gray-200));
    --items-color: rgb(var(--sl-color-neutral-0));
    --drawer-background: rgb(var(--sl-color-gray-50));
}

dw-title {
    --color: rgb(var(--sl-color-gray-900));
    font-size: calc(100% + 0.4vh);
    font-family: 'DM Sans regular';
    line-height: 1;
}

dw-clipboard-input {
    --icon-color: #ffffff;
    --icon-background: rgb(var(--sl-color-primary-green));
}

dw-dialog-booting-identity {
    --footer-border: 1px solid rgb(var(--sl-color-gray-300));
    --footer-background: rgb(var(--sl-color-gray-50));
}

dw-dialog-configuration {
    --jsoneditor-background: rgb(var(--sl-color-primary-600));
    --jsoneditor-dropdown-color: rgb(var(--sl-color-neutral-0));
    --jsoneditor-dropdown-background: rgb(var(--sl-color-neutral-1000));
}

dw-subdomains {
    --border: 1px solid rgb(var(--sl-panel-border-color));
    --background: rgb(var(--sl-input-background-color));
}

.dw-data-grid {
    --border-color: rgb(var(--sl-color-gray-200));
    --border: 1px solid var(--border-color);
    --background: rgb(var(--sl-input-background-color));
    --check-background: rgb(var(--sl-color-gray-300));

    --delete-color: rgb(var(--sl-color-neutral-255));
    --delete-background: rgb(var(--sl-color-primary-50));
}

.container.app-container {
    background: url("../assets/images/background-shape.svg") no-repeat center;
    background-size: cover;

}

.dw-action-button::part(base) {
    background: rgb(var(--sl-color-primary-green));
    color: #ffffff;
    border: none;
}

.dw-action-button::part(base):hover {
    background: rgb(var(--sl-color-primary-50));
    color: #ffffff;
    border: none;
}

/*:root .sl-theme-dark {*/
/*    --webc-primary-color: rgb(var(--sl-color-gray-50));*/
/*    --sl-input-label-color: rgb(var(--sl-color-gray-50));*/
/*}*/

/*.sl-theme-dark webc-app-menu[mode=horizontal] {*/
/*    --color: rgb(var(--sl-color-gray-300));*/
/*}*/

/*.sl-theme-dark dw-spinner {*/
/*    --color: rgb(var(--sl-color-gray-100));*/
/*}*/

/*.sl-theme-dark dw-title {*/
/*    --color: rgb(var(--sl-color-gray-300));*/
/*}*/

/*.sl-theme-dark dw-header {*/
/*    --border-color: rgb(var(--sl-color-gray-800));*/
/*    --color: rgb(var(--sl-color-gray-300));*/
/*}*/

/*.sl-theme-dark .dw-data-grid {*/
/*    --background: rgb(var(--sl-input-background-color));*/
/*    --border-color: rgb(var(--sl-input-border-color));*/
/*}*/

/*::selection {*/
/*    background: rgb(var(--sl-color-primary-600));*/
/*}*/

/*::-moz-selection {*/
/*    background: rgb(var(--sl-color-primary-600));*/
/*}*/