.dw-dialog-groups-fab {
  --dw-groups-width: 650px;
  --width: fit-content;
}

.dw-dialog-groups-fab::part(base) {
  min-width: var(--dw-groups-width);
}

.dw-dialog-groups-fab::part(panel) {
  max-width: calc(var(--dw-container-width) - 2 * var(--sl-spacing-x-large));
}

.dw-dialog-groups-fab sl-tab {
  display: none;
}

.dw-dialog-groups-fab sl-tab[panel='groups'],
.dw-dialog-groups-fab sl-tab[active],
.dw-dialog-groups-fab sl-tab[data-if] {
  display: inline-block;
}

.dw-dialog-groups-fab sl-tab > sl-icon {
  margin-right: var(--sl-spacing-small);
  font-size: 1.2rem;
}

.dw-dialog-groups-fab hr {
  height: 1px;
  background-color: var(--sl-color-gray-200);
}

.dw-dialog-groups-fab .dw-groups--addition,
.dw-dialog-groups-fab .dw-members--addition,
.dw-dialog-groups-fab .dw-credentials--addition,
.dw-dialog-groups-fab .dw-databases--addition {
  display: flex;
  flex-direction: column;
  gap: var(--sl-spacing-large);
}

.dw-dialog-groups-fab .dw-groups--addition sl-form::part(base),
.dw-dialog-groups-fab .dw-members--addition sl-form::part(base),
.dw-dialog-groups-fab .dw-databases--addition sl-form::part(base) {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--sl-spacing-large);
}

.dw-dialog-groups-fab .dw-groups--addition sl-button {
  padding-top: 22px;
}

.dw-dialog-groups-fab .dw-members--addition sl-form,
.dw-dialog-groups-fab .dw-credentials--addition sl-form,
.dw-dialog-groups-fab .dw-databases--addition sl-form {
  padding: var(--sl-spacing-large);
  border: 1px solid var(--sl-color-gray-200);
  border-radius: var(--sl-input-border-radius-medium);
  margin-top: var(--sl-spacing-x-small);
}

.dw-dialog-groups-fab .dw-members--addition sl-form > dw-title,
.dw-dialog-groups-fab .dw-databases--addition sl-form > dw-title {
  grid-column: 1 / -1;
}

.dw-dialog-groups-fab .dw-members--addition sl-form > sl-button,
.dw-dialog-groups-fab .dw-databases--addition sl-form > sl-button {
  margin-top: 1.4em;
}

.dw-dialog-groups-fab .dw-members--addition sl-form > sl-input .dw-paste {
  margin-right: var(--sl-spacing-xx-small);
}

.dw-dialog-groups-fab .dw-credentials--addition sl-form::part(base) {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--sl-spacing-large);
  align-items: center;
}

@media screen and (max-width: 835px) {
  .dw-dialog-groups-fab::part(base) {
    min-width: 100%;
    padding: 1rem;
  }
  .dw-dialog-groups-fab::part(panel) {
    max-width: 100%;
  }
}

@media screen and (max-width: 510px) {
  .dw-dialog-groups-fab {
    --header-spacing: var(--sl-spacing-medium) 0 var(--sl-spacing-medium) var(--sl-spacing-medium);
  }

  .dw-dialog-groups-fab > header > h3 {
    font-size: 3.8vw;
  }
}

@media screen and (max-width: 430px) {
  .dw-dialog-groups-fab .dw-groups--addition {
    grid-template-columns: 1fr;
  }

  .dw-dialog-groups-fab .dw-credentials--addition sl-form::part(base) {
    grid-template-columns: 1fr;
    row-gap: var(--sl-spacing-large);
  }
}
