.dw-dialog-edit-member::part(header) {
  padding: 0.5em 1em 0 1.25em;
}

.dw-dialog-edit-member > h3 {
  display: flex;
  gap: var(--sl-spacing-small);
  align-items: center;
  margin: 0;
  padding: 0.25em 0;
}

.dw-dialog-edit-member sl-tab > sl-icon {
  margin-right: var(--sl-spacing-small);
  font-size: 1.2rem;
}

.dw-dialog-edit-member sl-tab-panel[name='general'] sl-form::part(base) {
  display: grid;
  row-gap: var(--sl-spacing-large);
}

.dw-dialog-edit-member .dw-dialog-edit-member-actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--sl-spacing-medium);
  padding-top: var(--sl-spacing-medium);
  border-top: 1px dashed var(--sl-color-primary-200);
}

.dw-dialog-edit-member .dw-dialog-edit-member-actions > *:first-child {
  justify-self: flex-start;
  margin-right: auto;
}

.dw-dialog-edit-member .dw-dialog-edit-databases::part(base),
.dw-dialog-edit-member .dw-dialog-edit-credentials::part(base) {
  display: flex;
  flex-direction: column;
  gap: var(--sl-spacing-medium);
}

.dw-dialog-edit-member .dw-dialog-edit-credentials sl-form,
.dw-dialog-edit-member .dw-databases--addition {
  display: none;
}

.dw-dialog-edit-member .dw-dialog-edit-credentials sl-form[data-if],
.dw-dialog-edit-member .dw-databases--addition[data-if] {
  display: block;
  padding: var(--sl-spacing-large);
  margin-top: var(--sl-spacing-x-small);
  border: 1px solid var(--sl-color-gray-200);
  border-radius: 2px;
}

.dw-dialog-edit-member .dw-dialog-edit-credentials sl-form::part(base),
.dw-dialog-edit-member .dw-databases--addition sl-form::part(base) {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--sl-spacing-large);
  align-items: center;
}

.dw-dialog-edit-member .dw-credentials,
.dw-dialog-edit-member .dw-databases {
  margin-top: 0 !important;
  padding: 0;
}

.dw-dialog-edit-member .dw-credentials sl-menu-item::part(base) {
  padding-left: var(--sl-spacing-small);
}

.dw-dialog-edit-member .dw-credentials sl-menu-item sl-input::part(input) {
  width: 100%;
}
