<link rel="stylesheet" href="components/dw-dialog-edit-member/dw-dialog-edit-member.css" />
<sl-dialog class="dw-dialog dw-dialog-edit-member" no-header>
  <header>
    <h3><sl-icon name="person-bounding-box"></sl-icon> Edit member</h3>
    <sl-icon-button name="x-lg" close></sl-icon-button>
  </header>

  <sl-tab-group>
    <sl-tab slot="nav" panel="general">
      <sl-icon name="person-lines-fill"></sl-icon>
      General
    </sl-tab>
    <sl-tab slot="nav" panel="credentials">
      <sl-icon name="key-fill"></sl-icon>
      Credentials
    </sl-tab>
    <sl-tab slot="nav" panel="databases">
      <sl-icon name="hdd-stack-fill"></sl-icon>
      Databases
    </sl-tab>

    <sl-tab-panel name="general">
      <sl-form>
        <sl-input name="username" label="Username" value="@username" disabled required></sl-input>

        <sl-input name="email" type="email" label="Email" value="@email" disabled required></sl-input>

        <sl-input name="did" label="DID" value="@did" disabled required></sl-input>

        <div class="dw-dialog-edit-member-actions">
          <sl-button data-tag="member.delete">
            Delete
            <sl-icon slot="prefix" name="trash-fill"></sl-icon>
          </sl-button>
        </div>
      </sl-form>
    </sl-tab-panel>
    <sl-tab-panel name="credentials" class="dw-dialog-edit-credentials">
      <sl-input label="Issuer" value="@activeUser" disabled></sl-input>

      <sl-input label="Member" value="@activeMember" disabled></sl-input>

      <sl-form data-tag="credentials.form" data-if="@selectedMember.areCredentialsLoaded">
        <dw-title>Credentials</dw-title>

        <sl-button type="primary" data-tag="member.credential.add" submit>
          Generate credential
          <sl-icon slot="prefix" name="hammer"></sl-icon>
        </sl-button>
      </sl-form>

      <section class="dw-data-grid dw-credentials" data-for="@selectedMember.credentials">
        <article class="dw-data-grid-item">
          <sl-menu-item value="@id" data-tag="member.credential.select">
            <div class="dw-group-credential-data">
              <sl-input dir="rtl" value="@credential" readonly></sl-input>
            </div>
            <sl-icon-button slot="suffix" name="eye" data-tag="member.credential.inspect"></sl-icon-button>
          </sl-menu-item>
          <sl-icon-button data-tag="member.credential.delete" name="trash"></sl-icon-button>
        </article>
        <div slot="no-data" data-if="@selectedMember.areCredentialsLoaded">
          <dw-spinner slot="false" content="Credentials are loading"></dw-spinner>
          <p slot="true" class="no-data">There are no credentials generated for this user!</p>
        </div>
      </section>
    </sl-tab-panel>
    <sl-tab-panel name="databases" class="dw-dialog-edit-databases">
      <sl-input label="Issuer" value="@activeUser" disabled></sl-input>

      <sl-input label="Member" value="@activeMember" disabled></sl-input>

      <section class="dw-databases--addition" data-if="@selectedMember.areDatabasesLoaded">
        <dw-title>Databases</dw-title>

        <h5>New database</h5>

        <sl-form data-tag="member.database.form">
          <sl-input name="name" clearable></sl-input>

          <sl-button type="primary" data-tag="member.database.add" submit>
            Add
            <sl-icon slot="prefix" name="plus-lg"></sl-icon>
          </sl-button>
        </sl-form>
      </section>

      <section class="dw-data-grid dw-databases" data-for="@selectedMember.databases">
        <article class="dw-data-grid-item">
          <sl-menu-item value="@id" data-tag="member.database.select">
            <div class="dw-database--data">
              <strong>{{ @name }}</strong>
            </div>
          </sl-menu-item>
          <sl-icon-button data-tag="member.database.delete" name="trash"></sl-icon-button>
        </article>
        <div slot="no-data" data-if="@selectedMember.areDatabasesLoaded">
          <dw-spinner slot="false" content="Databases are loading"></dw-spinner>
          <p slot="true" class="no-data">There are no databases shared for this user!</p>
        </div>
      </section>
    </sl-tab-panel>
  </sl-tab-group>
</sl-dialog>
