<link rel="stylesheet" href="components/dw-dialog-new-group/dw-dialog-new-group.css" />

<sl-dialog class="dw-dialog-new-group dw-dialog" no-header>
  <header>
    <h3>
      <sl-icon name="ui-radios"></sl-icon>
      New groups
    </h3>
    <sl-icon-button name="x-lg" close></sl-icon-button>
  </header>

  <main>
    <div class="dw-item-group">
      <sl-input label="Name"></sl-input>
    </div>
    <div class="dw-add-group">
      <sl-button>Add new</sl-button>
    </div>
  </main>

  <footer>
    <sl-button>Save</sl-button>
  </footer>
</sl-dialog>
