.dw-dialog-new-group > main {
  padding: var(--sl-spacing-large);
}

.dw-dialog-new-group .dw-item-group {
  --dw-counter-width: 2rem;
  --dw-counter-gap: var(--sl-spacing-large);

  display: grid;
  margin-left: calc(var(--dw-counter-width) + var(--dw-counter-gap));
  position: relative;
}

.dw-dialog-new-group .dw-item-group::before {
  counter-increment: section;
  content: '#' counter(section);
  position: absolute;
  width: var(--dw-counter-width);
  height: var(--sl-input-height-medium);
  bottom: 0;
  left: calc(-1 * calc(var(--dw-counter-width) + var(--dw-counter-gap)));
  line-height: var(--sl-input-height-medium);
  text-align: center;
  background-color: var(--sl-color-primary-200);
  border: 1px solid var(--sl-color-primary-200);
  border-radius: var(--sl-input-border-radius-medium);
}

.dw-dialog-new-group .dw-add-group > sl-button {
  width: 100%;
}
