:host {
    --sl-input-border-radius-large: 0;
    --sl-input-border-radius-medium: 0;
    --sl-input-border-radius-small: 0;
    --sl-input-font-family: monospace;
}

:host sl-tag {
    font-family: monospace;
}

:host sl-tag::part(base) {
    background-color: white;
    user-select: auto;
    cursor: auto;
}

:host sl-input,
:host sl-input::part(form-control) {
    width: 100%;
    min-width: 0;
}

:host > .base {
    display: grid;
    grid-template-columns: auto auto 1fr;
}

:host > .base > .content {
    display: flex;
}

:host > .footer {
    text-align: right;
}

:host > .footer > sl-button {
    margin: var(--sl-spacing-medium) 0;
}

:host .did-ssi-key,
:host .did-ssi-sread,
:host .did-ssi-name,
:host .did-ssi-group {
    display: grid !important;
}

:host .did-ssi-key,
:host .did-ssi-name,
:host .did-ssi-group {
    grid-template-columns: auto auto 1fr;
}

:host .did-ssi-sread {
    grid-template-columns: auto auto 1fr;
}

:host .did-ssi-sread > .content {
    display: grid;
    grid-template-columns: 1fr 1fr 55px;
    width: 100%;
    max-width: 100%;
}

:host [hidden] {
    display: none;
}