<webc-container controller='governance/credentials/CredentialsController'>
  <section class='dw-credentials--header'>
    <dw-title>
      <p slot='subheader'>Manage credentials</p>
      <p slot='subheader'>This is an overview of your credentials.</p>
    </dw-title>

    <div class='dw-tab-navigator'>
      <sl-button class='dw-action-button' data-tag='toggle.credential.import' type='primary'>
        Import credential
        <sl-icon name='hammer' slot='prefix'></sl-icon>
      </sl-button>

      <sl-button class='dw-action-button' data-tag='toggle.credential.generate' type='primary'>
        Generate credential
        <sl-icon name='hammer' slot='prefix'></sl-icon>
      </sl-button>
    </div>
  </section>

  <div data-if='@isImportCredential'>
    <section class='dw-credentials dw-data-grid'>
      <webc-template data-view-model='@' template='governance/credentials/import-credential'></webc-template>
    </section>
  </div>

  <div data-if='@isGenerateCredential'>
    <section class='dw-credentials dw-data-grid'>
      <webc-template data-view-model='@' template='governance/credentials/generate-credential'></webc-template>
    </section>
  </div>

  <div class='dw-credentials dw-data-grid'>
    <div class='dw-data-table' data-if='@hasCredentials'>
      <div class='no-data' data-if='@areCredentialsLoaded' slot='false'>
        <dw-spinner content='Credentials are loading' slot='false'></dw-spinner>
        <p class='no-data' slot='true'>There are no credentials added!</p>
      </div>

      <article class='dw-data-grid-header dw-col-3' slot='true'>
        <div><label>Credential Token</label></div>
        <div><label>Credential Tags</label></div>
        <div><label>Options</label></div>
      </article>

      <article class='dw-data-grid-item dw-col-3' data-for='@credentials' slot='true'>
        <div><label>{{@token}}</label></div>
        <div><label>{{@tags}}</label></div>
        <div class='dw-table-options'>
          <sl-button data-tag='credential.select' outline>
            Copy
            <sl-icon name='clipboard' slot='prefix'></sl-icon>
          </sl-button>
          <sl-button data-tag='credential.inspect' outline variant='primary'>
            Inspect
            <sl-icon name='eye' slot='prefix'></sl-icon>
          </sl-button>
          <sl-button data-tag='credential.delete' outline variant='danger'>
            Delete
            <sl-icon name='trash' slot='prefix'></sl-icon>
          </sl-button>
        </div>
      </article>
    </div>
  </div>
</webc-container>