<webc-container controller='governance/CredentialsController'>
  <section class='dw-credentials--header'>
    <dw-title>
      <p slot='subheader'>Manage credentials</p>
      <p slot='subheader'>This is an overview of your credentials.</p>
    </dw-title>

    <div>
      <sl-button class='dw-action-button' data-tag='toggle.credential.import' type='primary'>
        Import credential
        <sl-icon name='hammer' slot='prefix'></sl-icon>
      </sl-button>

      <sl-button class='dw-action-button' data-tag='toggle.credential.generate' type='primary'>
        Generate credential
        <sl-icon name='hammer' slot='prefix'></sl-icon>
      </sl-button>
    </div>
  </section>

  <div data-if='@isImportCredential'>
    <section class='dw-credentials dw-data-grid'>
      <webc-template template='governance/credentials/import-credential' data-view-model='@'></webc-template>
    </section>
  </div>

  <div data-if='@isGenerateCredential'>
    <section class='dw-credentials dw-data-grid'>
      <webc-template template='governance/credentials/generate-credential' data-view-model='@'></webc-template>
    </section>
  </div>

  <section class='dw-credentials dw-data-grid' data-for='@credentials'>
    <article class='dw-data-grid-item'>
      <sl-menu-item data-tag='credential.select' value='@token'>
        <div class='dw-governance-credential-data'>
          <sl-input dir='rtl' readonly value='@token'></sl-input>
        </div>
        <sl-tooltip content='Click on credential to copy it' slot='suffix'>
          <sl-icon name='clipboard'></sl-icon>
        </sl-tooltip>
      </sl-menu-item>
      <sl-icon-button data-tag='credential.inspect' name='eye'></sl-icon-button>
      <sl-icon-button data-tag='credential.delete' name='trash'></sl-icon-button>
    </article>

    <div class='no-data' data-if='@areCredentialsLoaded' slot='no-data'>
      <dw-spinner content='Credentials are loading' slot='false'></dw-spinner>
      <p class='no-data' slot='true'>There are no credentials added!</p>
    </div>
  </section>
</webc-container>