<webc-container controller='governance/credentials/GenerateCredentialController' data-view-model='@'>
  <div class='dw-form' data-loaded='@areCredentialsLoaded'>

    <div class='dw-form-row dw-col-2'>
      <sl-input clearable id='subject-input' label='Credential Subject DID'
                name='subject-did' placeholder='Credential Subject DID' required>
        <sl-button class='dw-paste' data-tag='input.paste' slot='suffix' type='text'>
          Paste
        </sl-button>
      </sl-input>

      <sl-dropdown class='d-flex flex-end' id='generate-encoding-type'>
        <sl-button caret slot='trigger'>Select Encoding Type</sl-button>
        <sl-menu>
          <sl-menu-item value='JWT_ENCODING'>JWT Encoding</sl-menu-item>
        </sl-menu>
      </sl-dropdown>
    </div>

    <div class='dw-form-row'>
      <sl-input clearable id='tags-input' label='Credential Tags'
                name='subject-did' placeholder='Comma(,) separated tags for credential' required>
      </sl-input>
    </div>

    <div data-for='@credentialClaims' id='public-claims'>
      <div class='dw-form-row dw-col-3-auto'>
        <sl-input clearable label='Claim Name' placeholder='Claim Name' required value='@name'>
          <sl-button class='dw-paste' data-tag='input.paste' slot='suffix' type='text'>
            Paste
          </sl-button>
        </sl-input>
        <sl-input clearable label='Claim Value' placeholder='Claim Value' required value='@value'>
          <sl-button class='dw-paste' data-tag='input.paste' slot='suffix' type='text'>
            Paste
          </sl-button>
        </sl-input>

        <sl-button class='d-flex flex-end' data-tag='credential.remove.claim' type='primary'>-
        </sl-button>
      </div>
    </div>

    <div class='dw-form-row dw-form-buttons-right'>
      <sl-button data-tag='credential.add.claim' type='primary'> Add Public Claim
        <sl-icon name='plus-lg' slot='prefix'></sl-icon>
      </sl-button>

      <sl-button data-tag='credential.generate' type='primary'> Generate Credential
        <sl-icon name='plus-lg' slot='prefix'></sl-icon>
      </sl-button>
    </div>
  </div>
</webc-container>