<webc-container controller='governance/credentials/ImportCredentialController' data-view-model='@'>
  <div class='dw-form' data-loaded='@areCredentialsLoaded'>

    <div class='dw-form-row dw-col-2'>
      <sl-input clearable id='import-credential-input' label='Encoded Credential'
                name='encoded-credential' placeholder='Encoded Credential (e.g. JWT, GS1)' required>
        <sl-button class='dw-paste' data-tag='input.paste' slot='suffix' type='text'>
          Paste
        </sl-button>
      </sl-input>

      <sl-dropdown class='dw-form-buttons-left' id='import-encoding-type'>
        <sl-button caret slot='trigger'>Select Encoding Type</sl-button>
        <sl-menu>
          <sl-menu-item value='JWT_ENCODING'>JWT Encoding</sl-menu-item>
          <sl-menu-item value='GS1_ENCODING'>GS1 Encoding</sl-menu-item>
          <sl-menu-item value='OTHER_ENCODING'>Other (no preview available)</sl-menu-item>
        </sl-menu>
      </sl-dropdown>
    </div>

    <div class='dw-form-row'>
      <sl-input clearable id='tags-input' label='Credential Tags'
                name='subject-did' placeholder='Comma(,) separated tags for credential' required>
      </sl-input>
    </div>

    <div class='dw-form-row dw-form-buttons-right'>
      <sl-button data-tag='credential.import' type='success'> Import Credential
        <sl-icon name='plus-lg' slot='prefix'></sl-icon>
      </sl-button>
    </div>
  </div>
</webc-container>