<link href="./components/dw-dialog-add-domain/dw-dialog-add-domain.css" rel="stylesheet">
<sl-dialog class="dw-dialog dw-dialog-add-domain" no-header>
    <header>
        <h3>
            Add a new domain
        </h3>
        <sl-icon-button data-tag="add-domain-cancel" close name="x-lg"></sl-icon-button>
    </header>

    <main>
        <sl-input id="new-domain-input" placeholder="Add a domain"></sl-input>
    </main>

    <footer>
        <sl-button  data-tag="add-domain-cancel" close>Cancel</sl-button>
        <sl-button data-tag="add-domain-confirm"  type="primary">
            <sl-icon name="check2-all" slot="prefix"></sl-icon>
            Save domain
        </sl-button>
    </footer>
</sl-dialog>
