.dw-dialog-add-domain header {
    padding-bottom: var(--sl-spacing-medium);
}

.dw-dialog-add-domain main {
    padding: var(--sl-spacing-medium);
    margin-bottom: var(--sl-spacing-medium);
}

.dw-dialog-add-domain footer {
    display: flex;
    justify-content: flex-end;
    gap: var(--sl-spacing-medium);
    border-top: var(--footer-border);
    padding: var(--sl-spacing-medium);
    background-color: var(--footer-background);
}
