<link rel="stylesheet" href="components/dw-dialog-subdomain-delete/dw-dialog-subdomain-delete.css" />
<sl-dialog class="dw-dialog-subdomain-delete">
  <header slot="label">
    <sl-icon name="exclamation-octagon" type="danger"></sl-icon>
    Deleting a subdomain?
  </header>

  <p>
    <span>Subdomain "<strong>{{ @subdomain }}</strong>"</span>
    <span>of domain "{{ @domain }}" will be permanently deleted.</span>
  </p>
  <br />
  <p>Are you sure?</p>

  <sl-button slot="footer">No</sl-button>
  <sl-button slot="footer" type="danger">Yes, delete it.</sl-button>
</sl-dialog>
