webc-app-menu[mode='vertical'] {
    --disable-identity: true;
    --border-color: var(--border-color);
    --background: tranparent;
    --padding: 0 1rem 0 0;
    --items-padding: 0.75rem 0.5rem;
}

webc-app-menu[mode=vertical] .app-menu {
    margin-top: var(--sl-spacing-xxxx-large);
    margin-left: var(--sl-spacing-xx-small);
}

webc-app-menu[mode=horizontal] .app-menu {
    gap: 0px;
    font-family: "DM Sans bold";
    font-size: calc(100% + 1vh);
}

webc-app-menu[mode=horizontal] .app-menu sl-icon {
    margin: 0px 13px 0px 52px;
}


webc-app-menu[mode=horizontal] .app-menu webc-app-menu-item,
webc-app-menu[mode=horizontal] .app-menu webc-app-menu-item a {
    --color: var(--items-color);
}

webc-app-menu-item[level='0']:first-child {
    border-top: none !important;
}

webc-app-menu-item[level='0']:last-child {
    border-bottom: none !important;
}

.dw-drawer::part(panel) {
    height: 100%;
    background-color: var(--drawer-background);
    width: var(--dw-menu-width);
}