#booting-page {
    gap: var(--sl-spacing-medium);
    background: #fff;
    padding: 15px;
    margin-right: 56px;
}

#booting-page sl-alert {
    margin: var(--sl-spacing-large) 0;
}

#booting-page sl-alert::part(base) {
    padding: 0 var(--sl-spacing-medium);
    background: none;
    color: black;
    border: 1px solid rgb(var(--sl-color-gray-200));
}