#governance-page {
    --header-color: rgb(var(--sl-color-neutral-0));
    --header-border: 3px solid rgb(var(--sl-color-primary-200));
    --header-background: rgb(var(--sl-color-primary-700));
    --subheader-color: rgb(var(--sl-color-gray-400));

    --code-color: rgb(var(--sl-color-gray-800));
    --code-background: rgb(var(--sl-color-gray-100));
    --border-color: rgb(var(--sl-color-neutral-200));

    --members-border: 1px solid rgb(var(--sl-panel-border-color));
    --members-background: rgb(var(--sl-color-neutral-100));

    padding-bottom: calc(2 * var(--sl-spacing-large));
}

#governance-page,
#governance-page main {
    display: grid;
    gap: var(--sl-spacing-large);
}

/* Groups */

#governance-page .dw-governance--header {
    display: flex;
    align-items: center;
}

#governance-page .dw-governance--header span {
    font-size: calc(100% + 2vh);
    font-family: 'DM Sans medium';
    margin-right: 32px;
}

#governance-page .dw-governance--header sl-form {
    display: none;
}

#governance-page .dw-governance--header sl-form[data-loaded] {
    display: block;
}

#governance-page .dw-governance--header sl-form::part(base) {
    display: flex;
    gap: var(--sl-spacing-large)
}

#governance-page .dw-governance--header sl-form > sl-input {
    min-width: 330px;
}

#governance-page .dw-governance--header sl-form > sl-button {
    margin-top: 23px;
}

#governance-page .dw-governance {
    --dw-governance-header-height: 30px;
    --dw-governance-header-spaced-height: calc(var(--dw-governance-header-height) + 2 * var(--sl-spacing-medium));
}

#governance-page .dw-governance:first-child {
    position: relative;
    padding-top: var(--dw-governance-header-spaced-height);
}

#governance-page .dw-governance:first-child:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(var(--dw-governance-header-spaced-height));
    background-color: var(--header-background);
}

#governance-page .dw-governance:first-child .dw-governance-data :nth-child(1):before,
#governance-page .dw-governance:first-child .dw-governance-data :nth-child(2):before,
#governance-page .dw-governance:first-child sl-icon-button:before {
    display: block;
    position: absolute;
    height: var(--dw-governance-header-height);
    padding: var(--sl-spacing-x-small) 0;
    bottom: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: var(--sl-font-sans);
    color: var(--header-color);
    border-bottom: var(--header-border);
}

#governance-page .dw-governance:first-child .dw-governance-data :first-child:before {
    content: 'Name';
}

#governance-page .dw-governance:first-child .dw-governance-data :nth-child(2):before {
    content: 'DID';
}

sl-select::part(menu) {
    background: #ffffff;
    width: fit-content;
}

sl-menu-item::part(base) {
    color: var(--header-color);
}

sl-menu-item::part(base):hover {
    background: var(--code-background);
}

.dw-data-grid sl-menu-item::part(base):hover {
    background: none;
}

#governance-page .dw-governance sl-menu-item .dw-governance-data {
    display: grid;
    grid-template-columns: 1fr auto;
}

#governance-page .dw-governance sl-menu-item .dw-governance-data code {
    color: var(--code-color);
    background-color: var(--code-background);
    padding: 5px var(--sl-spacing-x-small) 0 var(--sl-spacing-x-small);
    border-radius: var(--sl-border-radius-medium);
    font-size: 0.75em;
}

#governance-page sl-tab-group::part(tabs) {
    border-top: solid 1px var(--border-color);
    border-bottom: solid 1px var(--border-color);
}


#governance-page .dw-governance-content > sl-tab::part(base) {
    font-size: 1.1rem;
}

#governance-page .dw-governance-content > sl-tab > sl-icon {
    margin-right: var(--sl-spacing-small);
}

#governance-page sl-tab-panel {
    padding: 15px;
}

#governance-page .dw-governance-content > sl-tab-panel::part(base) {
    padding: 0;
}

/* Credentials, Databases and Members */

#governance-page .dw-credentials--header {
    margin-top: var(--sl-spacing-large);
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--sl-spacing-large);
    align-items: center;
}

#governance-page .dw-credentials--header strong {
    padding: var(--sl-spacing-x-small);
    border-radius: var(--sl-border-radius-medium);
}

#governance-page .dw-credentials--header dw-title > [slot=subheader]:last-child,
#governance-page .dw-databases--header dw-title > [slot=subheader]:last-child {
    color: var(--subheader-color);
    font-size: 80%;
    margin-top: 10px;
}

#dw-governance-content {
    overflow: hidden;
    margin-right: 56px;
    background: #ffffff;
}

/* media-queries */

@media screen and (max-width: 895px) {
    #governance-page sl-input,
    #governance-page sl-input::part(input) {
        width: 100% !important;
        min-width: 0 !important;
    }
}

@media screen and (max-width: 835px) {
    #governance-page .dw-governance sl-menu-item .dw-governance-data {
        grid-template-columns: 1fr;
    }

    #governance-page .dw-governance:first-child {
        padding-top: 0;
    }

    #governance-page .dw-governance:first-child:before,
    #governance-page .dw-governance:first-child .dw-governance-data :nth-child(1):before,
    #governance-page .dw-governance:first-child .dw-governance-data :nth-child(2):before,
    #governance-page .dw-governance:first-child sl-icon-button:before {
        display: none;
    }

    #governance-page .dw-governance sl-menu-item .dw-governance-data code {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    #governance-page .dw-member > div > code {
        display: none;
    }
}

@media screen and (max-width: 815px) {
    #governance-page .dw-governance--header {
        display: grid;
        grid-template-columns: 1fr;
    }

    #governance-page .dw-credentials--header,
    #governance-page .dw-databases--header {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 555px) {
    #governance-page .dw-governance-content > sl-tab::part(base) {
        /*font-size: 3vw;*/
        font-size: 1rem;
    }
}

@media screen and (max-width: 490px) {
    #governance-page .dw-governance-content > sl-tab::part(base) {
        padding-left: var(--sl-spacing-small);
        padding-right: var(--sl-spacing-small);
    }
}

@media screen and (max-width: 385px) {
    #governance-page .dw-governance--header > sl-form > sl-button {
        margin-top: 0;
    }

    #governance-page .dw-governance--header > sl-form::part(base),
    #governance-page .dw-databases--header > sl-form::part(base) {
        display: grid;
        grid-template-columns: 1fr;
    }
}