/*#quick-actions-page .dw-domain {*/
/*    display: grid;*/
/*    grid-template-columns: auto 1fr;*/
/*    align-items: center;*/
/*    padding-bottom: 1rem;*/
/*    column-gap: 1.5rem;*/
/*}*/

/*#quick-actions-page .dw-domain dw-title {*/
/*    grid-column: 1 / -1;*/
/*}*/

/*#quick-actions-page .dw-domain span {*/
/*    color: var(--sl-color-gray-500);*/
/*}*/

#quick-actions-page .dw-actions {
    display: grid;
    grid-template-columns: repeat(4, 276px);
    gap: 2.5rem;
    width: 100%;
    padding: 1rem 0;
    margin-top: 44px;
}

#quick-actions-page .dw-actions .dw-action {
    width: 100%;
}

#quick-actions-page .dw-actions .dw-action::part(base) {
    height: inherit;
    font-family: "DM Sans bold";
    font-size: calc(100% + 1.4vh);
}

#quick-actions-page .dw-actions .dw-action::part(label) {
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 1.25rem;
    font-weight: 400;
}

#quick-actions-page .dw-actions .dw-action sl-icon {
    font-size: 1.35rem;
}

#quick-actions-page .dw-actions .dw-action sl-icon[name=gear] {
    margin-top: 3px;
    font-size: 1.25rem;
}

#quick-actions-page .dw-actions .dw-action sl-icon[name=key] {
    margin-top: 3px;
    font-size: 1.6rem;
}

@media screen and (max-width: 1000px) {
    #quick-actions-page .dw-actions {
        justify-content: space-between;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 780px) {
    #quick-actions-page .dw-actions {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 470px) {
    #quick-actions-page .dw-actions {
        grid-template-columns: repeat(1, 1fr);
    }
}