#subdomains-page.dw-container {
  padding-bottom: var(--sl-spacing-xx-large);
}

#subdomains-page > p {
  margin-bottom: 1rem;
}

#subdomains-page .dw-domain {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding-bottom: 1rem;
  column-gap: 1.5rem;
}

#subdomains-page .dw-domain dw-title {
  grid-column: 1 / -1;
}

#subdomains-page .dw-domain span {
  color: var(--sl-color-gray-500);
}

#subdomains-page .dw-subdomain {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  border-bottom: 1px solid var(--sl-color-gray-300);
}

#subdomains-page .dw-subdomain:last-child {
  border-bottom: none;
}

#subdomains-page .dw-subdomain sl-menu-item::part(base) {
  padding-top: var(--sl-spacing-small);
  padding-bottom: var(--sl-spacing-small);
}

#subdomains-page .dw-subdomain sl-menu-item[checked]::part(base) {
  color: var(--webc-primary-color);
  background-color: var(--sl-color-gray-300);
}

#subdomains-page .dw-subdomain sl-menu-item[checked] + sl-icon-button {
  display: none;
}

#subdomains-page .dw-subdomain sl-menu-item[checked] + sl-icon-button:hover::part(base) {
  background: transparent;
  color: transparent;
  cursor: not-allowed;
}

#subdomains-page .dw-subdomain sl-icon-button {
  height: 100%;
  display: flex;
}

#subdomains-page .dw-subdomain sl-icon-button::part(base) {
  padding: 0 var(--sl-spacing-x-large);
}

#subdomains-page .dw-subdomain sl-icon-button:hover::part(base) {
  border-radius: 0;
  color: var(--sl-color-primary-text);
  background: var(--sl-color-primary-500);
}

#subdomains-page .dw-subdomain-addition {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 1.5rem;
  margin-top: 1.5rem;
  align-items: center;
}

#subdomains-page .dw-subdomain-addition sl-button {
  margin-top: 4px;
}
