#dw-dialog-configuration .jsoneditor {
  border-color: transparent;
  height: 100%;
}

#dw-dialog-configuration .jsoneditor-menu {
  border: none;
}

#dw-dialog-configuration .jsoneditor-menu {
  background: var(--jsoneditor-background);
}

.jsoneditor-contextmenu .jsoneditor-menu li button.jsoneditor-selected, .jsoneditor-contextmenu .jsoneditor-menu li button.jsoneditor-selected:focus, .jsoneditor-contextmenu .jsoneditor-menu li button.jsoneditor-selected:hover {
  color: var(--jsoneditor-dropdown-color);
  background-color: var(--jsoneditor-dropdown-background);
}