<webc-container controller='governance/organizations/AddEditOrganizationController' data-view-model='@'>
  <section class='dw-credentials--header'>
    <dw-title>
      <p slot='subheader'>{{@title}}</p>
      <p slot='subheader'></p>
    </dw-title>
  </section>

  <section class='dw-credentials dw-data-grid'>
    <div class='dw-form-row' data-if='@isEditing'>
      <label slot='true'>Previous value: <strong>{{@previousOrganizationName}}</strong></label>
      <h3 slot='false'>NOTE: After the organization has been created, a restart of the API-Hub is needed in order to
        apply the changes!</h3>
    </div>
    <div class='dw-form-row'>
      <sl-input clearable help-text='Maximum of 30 alphanumeric characters, including spaces, dots and dashes'
                id='organization-name'
                label='Organization name'
                placeholder='Organization name (e.g. pharmaledgerassoc, ePI, CSC, Eco-IoT)' value='@form.name'>
      </sl-input>
    </div>

    <div class='dw-form-row dw-col-2-equal'>
      <sl-input clearable help-text='BDNS main domain' id='main-domain' label='Main domain'
                placeholder='Enter BDNS main domain (e.g. epi, csc, iot)' value='@form.mainDomain'></sl-input>
      <sl-input clearable help-text='BDNS Subdomain' id='sub-domain' label='Subdomain'
                placeholder='Enter BDNS Subdomain (e.g. nvs, rms, pdm)' value='@form.subDomain'></sl-input>
    </div>

    <div class='dw-form-row dw-col-2-equal'>
      <div class='dw-form-row-inner'>
        <label>If checked, the DNS Domain will be taken from the current URL.</label>
        <sl-checkbox id='local-organization'>Local organization</sl-checkbox>
      </div>
      <div data-if='@form.isLocalOrganization'>
        <sl-input clearable help-text='Organization DNS Domain will be used to call the admin component' id='dns-domain'
                  label='DNS Domain'
                  placeholder='Enter DNS Domain where admin component is available (e.g. pharmaledger.dev, admin.pharmaledger.dev)'
                  slot='false' value='@form.dnsDomain'></sl-input>
      </div>
    </div>

    <div class='dw-form-row dw-col-2-equal'>
      <sl-input clearable
                help-text='Admin or Main Domain where the Organization will be registered.'
                id='admin-domain' label='Admin Domain'
                placeholder='Enter Admin Domain (e.g. epi, admin).'
                value='@form.adminDomain'></sl-input>
      <sl-input clearable help-text='Path to the loader environment.js file where to be applied' id='environment-path'
                label='Environment file path'
                placeholder='Enter environment file path (e.g. /csc-cmo-wallet/loader/environment.js)'
                value='@form.envPath'></sl-input>
    </div>

    <div class='dw-form-row dw-col-2-equal' data-if='@isEditing'>
      <div class='dw-form-row dw-col-2-equal' slot='false'>
        <div class='dw-form-row-inner'>
          <label>Download environment template</label>
          <sl-button data-tag='download.env' type='primary'>Download</sl-button>
        </div>

        <div class='dw-form-row-inner'>
          <label>Upload environment.js file</label>
          <div class='file-input-wrapper'>
            <label for='upload-env'>Upload</label>
            <input id='upload-env' name='env' type='file' />
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class='dw-form-row dw-form-buttons-right'>
    <sl-button data-tag='history.go.back' type='primary'>Go back</sl-button>
    <sl-button data-tag='organization.submit' type='success'>{{@submitButtonLabel}}
    </sl-button>
  </div>

  <div data-if='@isEditing'>
    <div class='dw-form-row dw-form-buttons-right'>
      <sl-button data-tag='organization.remove' type='danger'>REMOVE Organization</sl-button>
    </div>
  </div>

</webc-container>
