<webc-container controller='governance/organizations/ManageOrganizationController' data-view-model='@'>
  <sl-tab-group class='dw-governance-content dw-manage-organization-container'>
    <sl-tab data-tag='organization.change.tab' data-template-handler='isMonitoringSelected' panel='monitoring' slot='nav'>
      <sl-icon name='key-fill'></sl-icon>
      Monitoring
    </sl-tab>

    <!-- Monitoring Panel -->
    <sl-tab-panel name='monitoring'>
      <section data-if='@isMonitoringSelected'>
        <webc-template template='governance/monitoring/monitoring'></webc-template>
      </section>
    </sl-tab-panel>
  </sl-tab-group>
</webc-container>