<webc-container controller='governance/organizations/OrganizationsController'>
  <section class='dw-credentials--header'>
    <dw-title>
      <p slot='subheader'>Organizations Management</p>
      <p slot='subheader'>Manage the organizations you are part of.</p>
    </dw-title>

    <div>
      <sl-button data-tag='toggle.organization.dashboard' type='success'>
        Organizations Dashboard
      </sl-button>
      <sl-button data-tag='toggle.organization.add-edit' type='primary'>
        Define Organization
      </sl-button>
    </div>
  </section>

  <div class='dw-credentials dw-data-grid' data-if='@canDisplayTemplate'>
    <dw-spinner content='Loading' slot='false'></dw-spinner>

    <webc-template data-view-model='@' slot='true' template='@templatePath'></webc-template>
  </div>
</webc-container>