<webc-container controller='governance/organizations/ViewOrganizationController' data-view-model='@'>
  <section class='dw-credentials--header'>
    <dw-title>
      <p slot='subheader'>Organization details</p>
      <p slot='subheader'></p>
    </dw-title>
  </section>

  <section class='dw-credentials dw-data-grid'>
    <div class='dw-form-row'>
      <label>Organization name: <strong>{{@selectedOrganization.name}}</strong></label>
      <label>Created by: <strong>{{@selectedOrganization.createdBy}}</strong></label>
      <label>Created at: <strong>{{@selectedOrganization.createdAt}}</strong></label>
      <label>Main Domain: <strong>{{@selectedOrganization.mainDomain}}</strong></label>
      <label>Subdomain: <strong>{{@selectedOrganization.subDomain}}</strong></label>
      <label>Admin Domain: <strong>{{@selectedOrganization.adminDomain}}</strong></label>
      <label>DNS Domain: <strong>{{@selectedOrganization.dnsDomain}}</strong></label>
      <label>Wallet environment file path: <strong>{{@selectedOrganization.envPath}}</strong></label>
      <div class='dw-form-row'>
        <label>Environment Data Content:</label>
        <sl-textarea readonly rows='6' value='@selectedOrganization.envData'></sl-textarea>
      </div>
    </div>
  </section>

  <div class='dw-form-row dw-form-buttons-right'>
    <sl-button data-tag='toggle.organization.dashboard' type='primary'>Go back</sl-button>
  </div>

</webc-container>