<webc-container controller='governance/monitoring/MonitoringController' data-view-model='@'>
  <section class='dw-credentials--header'>
    <dw-title>
      <p slot='subheader'>Monitoring Dashboard</p>
      <p slot='subheader'>Monitoring solution for your deployed applications.</p>
    </dw-title>
  </section>

  <div class='dw-credentials dw-data-grid'>
    <sl-form class='monitoring'>
      <sl-input clearable id='url-input' label='Enter URL to Monitoring Dashboard' name='url-input' required
                value='@displayUrl'>
        <sl-button class='dw-paste' data-tag='url.paste' slot='suffix' type='text'>
          Paste
        </sl-button>
      </sl-input>
      <sl-button class='position-baseline' data-tag='url.add' type='primary'>Set / Update URL
      </sl-button>

      <div class='position-baseline' data-if='@hasUrl'>
        <sl-button data-tag='url.remove' outline type='danger'>Clear URL</sl-button>
      </div>
    </sl-form>

    <div data-if='@hasUrl' style='display: flex; width: 100%;'>
      <iframe frameborder='0' src='@displayUrl' style='width: 100%;height: 800px;padding: 1rem;' title='Monitoring'>
      </iframe>
    </div>
  </div>
</webc-container>